/* CSS HEX 
--misty-rose: #efd0caff;
--pale-silver: #c1bcacff;
--artichoke: #979b8dff;
--fern-green: #5c7457ff;
--brunswick-green: #214e34ff;
offset-color: rgb(217, 236, 217); */

:root {
    --background: #979b8dff;
    --header-background: #c1bcacff;
    --text-color: #214e34;
    --label-color: rgb(75, 102, 98);
    --placeholder-color: rgb(136, 136, 153);
    --offset-color: rgb(217, 236, 217);
    --action-color: #efd0caff;

    --primary-font: 'Rubik', Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans',
        'DejaVu Sans', 'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    height: 100vh;
    font-family: var(--primary-font);
    color: var(--text-color);
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr;
}

.page-header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.page-header .logo {
    height: 100%;
}

.page-header .title {
    font-size: 1.3em;
    font-weight: 800;
    flex-grow: 2;
}

.page-header nav {
    display: flex;
    gap: 10px;
}

main {
    padding: 20px;
}

.avatar {
    height: 36px;
    width: 36px;
    object-fit: cover;
    border: 1px solid var(--placeholder-color);
    border-radius: 100%;
}

.error {
    min-height: 1em;
    color: red;
}

.hidden {
    display: none;
}

.add-new {
    border: 6px solid;
    background: var(--offset-color);
    padding: 20px;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
form button {
    padding: 10px;
    background: var(--action-color);
    border: 0;
    font-weight: bold;
    color: white;
    border-radius: 3px;
}

input {
    background-color: rgb(232, 240, 254);
    border: 1px solid #214e34ff;
    border-radius: 3px;
}

.list {
    display: flex;
    justify-content: center;
    padding: 10px;
}
